h1 {color: orange;
    text-align: center;
    background-color: rgb(56, 76, 145);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(201, 29, 29);
    }
    
    h3 {
        color: rgb(255, 167, 4);
    text-align: center;
    background-color: rgb(66, 93, 135);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(201, 29, 29);
    box-shadow: 10px rgb(173, 10, 10);
    
    }
    
    nav {
        background-color: rgb(255, 255, 255);
    }
    
    body {
        height: 200vh;
    background-image: url(img/67d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    }
    
    h4 {color: rgb(173, 10, 10);}    